
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #222;
}
#navbar {
  width: 100%;
  background-color: rgb(35, 35, 35);
  padding: 10px;
  position: absolute;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  color: white;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: rgb(255, 99, 99);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 200px;
}

.logo i {
  font-size: 1.2rem;
  color: white;
}

.bl {
  border-radius: 7px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.page1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: white;
}

.text h1{
  margin: 0px 0px 16px; 
  font-size: 48px;
}

.text p {
  font-size: 20px;
  color: #555;
  font-family: sans-serif;
}
.text p h5{
  font-size: 16px;
}
.img img {
  margin-right: 300px;
}
.page1{
  margin-left: 250px;
}
.bl1{
  padding: 14px 28px;
}
.brand{
  font-size: 16px;
  margin-left: 200px;
}
.logo button{
  padding: 8px 16px;
  font-size: 12px;
}



