* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  background-color: rgb(35, 35, 35);
  padding: 10px;
  position: absolute;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  color: white;
  font-size: 16px; /* corrected */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: rgb(255, 99, 99);
  font-size: large;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

}

.logo i {
  font-size: 20px;
  color: white;
}

.logo button {
  padding: 8px 16px;
  font-size: 12px;
}

.bl {
  border-radius: 7px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.page1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 32px; /* 4rem = 64px, 2rem = 32px */
  background-color: rgb(35, 35, 35);
}

.text h1 {
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.text p {
  font-size: 20px;
  color: #ffffff;
  font-family: sans-serif;
}

.text h4 {
  font-size: 16px;
  color: white;
}

.img{
  margin-right: 250px;
  z-index: 3;
  transition: all 3s ease-in-out;
}

.bl1 {
  padding: 14px 28px;
  border-radius: 10px;
}
.bl1:hover {
  background-color: #ff6363;
  color: white;
  transition: background-color 0.3s ease;
}

.page2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text{
  margin-left: 280px;
}

.part1{
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.box{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  height: 250px;
  width: 85%;
  position: absolute;
  top: 650px;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 48px 48px 46px; 
}
.box h1{
  font-size: 30px;
  color: rgb(38 50 56);
  font-family: sans-serif;
  padding-bottom: 25px;
}
.box p{
  font-size: 20px;
  color: #9E9E9E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mainBox{
  margin-top: 500px;
  display: grid;
  grid-template-columns: auto auto;
}
.b11{

}






